body {
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}

/* Aquí inicia el Header */

header {
    background-color: #7209b7;
    width: 100%;
    height: 80px;
}

header img {
    margin-top: 10px;
    margin-left: 10px;
}

header h1 {
    margin-left: 80px;
    margin-top: -59px;
    color: white;
}

/* Aquí termina el Header */

/* -------------------------------------------------------------------------------- */

/* Aquí inicia aviso de página no encontrada */

.error {
    background: linear-gradient(#7209b7, #480ca8);
    padding: 70px 30px;
    min-width: calc(100vh - 200px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
}

.error__option--login {
    background: #480ca8;
}

.error__option--login button {
    color: white;
    position: relative;
    top: -647px;
    left: -446px;
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    height: 50px;
    letter-spacing: 1px;
    margin: 25px 0px;
    text-decoration: none;
}

.error__option--mainMenu {
    background: #480ca8;
}

.error__option--mainMenu button {
    color: white;
    text-decoration: none;
    position: relative;
    top: -740px;
    left: 568px;
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    height: 50px;
    letter-spacing: 1px;
    margin: 25px 0px;
}

/* Aquí termina el aviso de página no encontrada */

/* --------------------------------------------------------- */

/* Aquí inicia el Footer */

.footer {
    background: linear-gradient(#480ca8, #3a0ca3);
    display: flex;
    align-items: center;
    height: 100px;
    width: 100%;
}

.footer a {
    color: white;
    cursor: pointer;
    font-size: 14px;
    padding-left: 30px;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

/* Aquí termina el Footer */

/* -------------------------------------------- */

/* Media queries */

@media only screen and (max-width: 600px) {
    .login__container {
        background-color: transparent;
        border: none;
        padding: 0px;
        width: 100%;
    }
    .footer {
        align-items: flex-start;
        flex-direction: column;
    }
}